<h1 class="heading">Get GitHub User Data</h1>

<div class="form-group">
  <label for="userName">GitHub User Name</label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
</div>

<div class="form-group">
  <button type="button" (click)="getGitHubUserData()">Get GitHub User Data</button>
</div>

<div *ngIf="loading">loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>


<table *ngIf="gitHubUser" class='table'>
  <tr>
    <th>User Name</th>
    <td>{{gitHubUser.login}}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{gitHubUser.id}}</td>
  </tr>
  <tr>
    <th>HTML Url</th>
    <td>{{gitHubUser.html_url}}</td>
  </tr>
  <tr>
    <th>Real Name</th>
    <td>{{gitHubUser.name}}</td>
  </tr>
  <tr>
    <th>Website</th>
    <td>{{gitHubUser.blog}}</td>
  </tr>
  <tr>
    <th>location</th>
    <td>{{gitHubUser.location}}</td>
  </tr>
  <tr>
    <th>Joined GitHub at</th>
    <td>{{gitHubUser.created_at}}</td>
  </tr>
  <tr>
    <th>Last Login</th>
    <td>{{gitHubUser.updated_at}}</td>
  </tr>
</table>

<pre>{{gitHubUser | json}}</pre>
